<%- include('_header'); -%>

<h1>Welcome!</h1>

<ul>
  <li><a href="/public">Public page</a></li>
  <li><a href="/members">Members only</a></li>
  <li><a href="/private">Another private page</a></li>
</ul>

<%- include('_footer'); -%>

